
/*
  terrible.css
  Andrew Tunecliffe, 2015
  http://atunnecliffe.com
*/
/* uncomment to see outlines of stuff when you hover *-/
:hover {
  background:rgba(0, 0, 0, 0.1);
}/**/

body {
  background: linear-gradient(white, cornflowerblue);
  height: auto;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

button#all {
  border: solid 1px white;
  cursor: pointer;
  padding: center
}
