body {
  background: linear-gradient(white, cornflowerblue);
  background-repeat: repeat-x;
}

div {
  font-family: 'Quicksand', sans-serif;
  font-size : 3vw
  border: solid 1px black;
}

button#all {
  border: solid 1px white;
  cursor: pointer;
  padding: center
  position: relative;
  height: auto;
}

#avatar img{
  width: 200px;
  height: 200px;
}
